.app-header {
  border-bottom: none;
}
.app-header-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.login-dialog {
  text-align: center;
}