.app-header {
  border-bottom: none;
}
.app-header-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.login-dialog {
  text-align: center;
}

.editor-page__grid {
  height: 100%;
}
.editor-page__grid-inner {
  height: 100%;
}
.editor-preview-container {
  flex: 1;
  background: #ffffff;
}

.countdown-value {
  font-size: 48px;
}
.countdown-value span {
  font-size: 28px;
  font-weight: bold;
  vertical-align: middle;
  margin: 0 4px;
}

.history-chain-point span {
  display: block;
  width: 22px;
  height: 22px;
  background: #ffffff;
  border-radius: 50%;
  position: relative;
}
.history-chain-point span::after {
  content: " ";
  position: absolute;
  left: 100%;
  top: 50%;
  display: block;
  border: 1px solid #ffffff;
  width: 16px;
}
.history-chain-point:last-child span::after {
  display: none;
}