.app-header {
  border-bottom: none;
}
.app-header-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.login-dialog {
  text-align: center;
}

.editor-page__grid {
  height: 100%;
}
.editor-page__grid-inner {
  height: 100%;
}
.editor-preview-container {
  flex: 1;
  background: #ffffff;
}

.countdown-value {
  font-size: 48px;
}
.countdown-value span {
  font-size: 28px;
  font-weight: bold;
  vertical-align: middle;
  margin: 0 4px;
}
